{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 10px">
        <a class="btn btn-primary" href="/add_book/" target="_blank">New Book</a>
    </div>
    <div style="display: flex; align-items: center;">
        <form method="get" action="/book_info/">
            <div class="input-group" style="margin-bottom: 10px;">
                <input type="text" class="form-control" name="value" id="filterInput" placeholder="Enter information" value="{{ filter_value }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Filter</button>
                </div>
            </div>
        </form>
    </div>


    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 5px;"></span>
                <span>Book List</span>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>BookName</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>ISBN</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in book_info %}
                    <tr>
                        <th>{{ obj.book_id }}</th>
                        <td>{{ obj.book_title }}</td>
                        <td>{{ obj.author }}</td>
                        <td>{{ obj.publisher_name }}</td>
                        <td>{{ obj.isbn }}</td>
                        <td>{{ obj.status }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/edit_book/">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/delete_book/">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
