{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 10px">
        <a class="btn btn-primary" href="/book_info/">Back to Book List</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Edit Book</h2>
        </div>
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="book_title">Book Title</label>
                    <input type="text" class="form-control" id="book_title" name="book_title" value="{{ book.book_title }}">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" value="{{ book.author }}">
                </div>
                <div class="form-group">
                    <label for="publisher_name">Publisher Name</label>
                    <input type="text" class="form-control" id="publisher_name" name="publisher_name" value="{{ book.publisher_name }}">
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" value="{{ book.isbn }}">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" name="status" value="{{ book.status }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
